#item {
	position:relative;
	width:500px;
	height:auto;
	padding:15px 20px;
	margin:auto;
}
button {
	background-color:rgba(255,255,255,0.7); /* 투명도 지정 0완전 투명 / 1완전 불투명*/
	padding:5px;
	border:1px solid #ccc;
	font-size:0.8em;
	cursor:pointer;
}
.over {
	position:absolute;
	left:30px;
	bottom:30px;
}
.detail {
	width:400px;
	text-align:left;
	line-height:1.8;
	display:none;	/* 숨김 */
}
